@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: #fff;
}
.navStyle {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1.5rem;
  width: 98%;
  height: 7rem;
  align-content: stretch;
  align-items: center;
  padding: 1.75rem;
  border-radius: 1rem;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.08);
}
.divTag{

  width: 22%;
  border-right: 1px solid lightgray;
  height: 100%;
}

.divTagEnd{

  width: 22%;
  height: 100%;
}
.tag{
  font-family: Montserrat;
  list-style: none;
  text-decoration: none;
  color: #797D80;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 40px;
  padding-right: 30px;
}
.icons{
  height: 2rem;
  margin-bottom: 0.5rem;
}
.titleActive {
  
  /* Bold/CTA, Emphasis */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 20px;
  /* identical to box height, or 125% */
  text-align: center;
  letter-spacing: 0.1px;

  /* Main/Magenta */
  color: #F60C87;

} 
.titleInactive{
  /* Bold/CTA, Emphasis */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 20px;
  /* identical to box height, or 125% */
  text-align: center;
  letter-spacing: 0.1px;

  /* Values/Dark */
  color: #797D80;
}
.tagEnd {
  width: 22%;
}
/* svg{
    fill:#797D80 
} */
img.active{
    fill: #F60C87;
}
