@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: #fff;
}
.navStyle {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-content: stretch;
  align-items: center;
  padding: 1.75rem;
  border-radius: 1rem;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.08);
}
.divTag{
  width: 22%;
  border-right: 1px solid lightgray;
  
}
.tag{
  font-family: Montserrat;
  list-style: none;
  text-decoration: none;
  color: #797D80;
  display: grid;
  justify-items: center;
  line-height: 40px;
  padding-right: 30px;
}
.tagActive {
    color: #F60C87;
} 
.tagEnd {
  width: 22%;
}
/* svg{
    fill:#797D80 
} */
img.active{
    fill: #F60C87;
}
