@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.request{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F60C87;
    border-radius: 1rem;
    width: 100%;
    height: 199px;
}
.title{
    padding: 1.3rem;
    margin-bottom: 0px;
    color: #ffff;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 1rem;
}
.subRequest{
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    width: 100%;
    margin: auto;
    border-radius: 1rem;
}
.subs{
   
    font-size: 12px;
}
.box1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-bottom: 2px solid #E5EEF2;
}
.box2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
}
.titleBox{
    margin-bottom: 0px;
    /* Bold/CTA, Emphasis */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 20px;
    /* or 125% */
    letter-spacing: 0.1px;
}
.subtitleBox{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 15px;
    margin-bottom: 0px;

    color: #121317;
}
.boxWhite{
    background-color: #ffffff;
    width: 100%;
    border-radius: 0px 0px 1rem 1rem;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.08);
}
